body{
    padding:2px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flexbox;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 350px;
}

input{
    width:80%;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:20px;
    box-sizing: border-box;
    border-color:1px solid black;
}

button{
    background-color: #25614e;
    color:white;
    padding:10px;
    border: none;
} 

ul{
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0;
    text-align: center;

}
li{
    margin-top:5px;
}
li a{
    color: #25614e;
 } 
/*shows that anchor tag in li only must show the green colour */